<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.easylibrary.android">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:name=".app.ELApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/ELTheme">

        <activity android:name=".features.authentication.EnterURLActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity android:name=".features.authentication.LoginActivity"/>

        <activity android:name=".features.dashboard.DashboardActivity"/>

        <activity
            android:name=".features.books.AllDepartmentsActivity"
            android:parentActivityName=".features.dashboard.DashboardActivity"/>

        <activity
            android:name=".features.books.SearchBookActivity"
            android:parentActivityName=".features.dashboard.DashboardActivity"/>

        <activity
            android:name=".features.books.BooksForDepartmentActivity"
            android:parentActivityName=".features.books.AllDepartmentsActivity"/>

        <activity
            android:name=".features.student.StudentProfileActivity"
            android:parentActivityName=".features.dashboard.DashboardActivity"/>

        <activity
            android:name=".features.pendingrequests.PendingRequestsActivity"
            android:parentActivityName=".features.dashboard.DashboardActivity"/>

    </application>

</manifest>
